# Ignorar arquivos de log  
*.log  

# Ignorar diretórios de dependências  
node_modules/  

# Ignorar arquivos temporários  
*.tmp  

# Ignorar arquivos específicos  
secret.txt
.env

# Ignorar arquivos de banco de dados
database.sqlite
*.sqlite
*.sqlite3